* {
	box-sizing: border-box;
}

.data {
	display: flex;
	justify-content: center;
	white-space: nowrap;
	flex-wrap: wrap;
}

.datum {
	border: solid black 1px;
	text-align: center;
	width: 7em;
	height: 6em;
	margin: 0 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.7em 0;
}

.value {
	height: 100%;
}
