/* stylelint-disable property-no-vendor-prefix */
:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: max(min(2.5vw, 16px), 10px);
	line-height: 1.5em;
	font-weight: 400;
	color-scheme: light dark;
	color: white;
	background-color: black;
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body {
	margin: 0;
	display: flex;
	place-items: center;

	/* min-width: 320px; */
	min-height: 100vh;
	overflow: hidden;
	touch-action: pan-y;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: white;
	color: black;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: gray;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		color: rgb(255 255 255 / 87%);
		background-color: #242424;
	}

	a:hover {
		color: #535bf2;
	}

	button {
		background-color: #f9f9f9;
	}
} */
